:root{
    --primary--color: #00b14f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0.5px solid red; */
}

/*----header---- */
.header{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}

.header span{
    font-size: 2rem;
    margin: 20px 100px;
    color: white;
    cursor: pointer;
}

.header ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}


ul a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
}
/* ---hover-homepage--- */
.header span:hover, .header a:hover{
    color: rgba(255,255,255,0.5);
}

/* ---homepage---- */
.home{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.home_overlay{
    display: flex;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
}
.home-bg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}
.home-info{
    width: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.home-info img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px double white;
    margin-top: 20px;
}

.home-info h1, .home-info p{
    color: white;
}

.home-info p{
    font-size: 1.5rem;
    font-style: oblique;
}


.home-info-contact i{
    color: white;
    font-size: 2rem;
    padding: 20px 15px;
    cursor: pointer;
}
/* hover-homepage */
.home-info-contact .fb:hover{
    color: #145eff;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.6);
}
.home-info-contact .git:hover{
    color: black;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.7);
}
.home-info-contact .linkedin:hover{
    color: #145eff;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.7);
}

/*----aboutpage---- */
.about{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.about-info{
    background: rgba(0,0,0,0.05);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    width: 1000px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    padding: 15px;
    /* color: rgba(0,0,0,0.8); */
}

.about-info img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,0.2);
    object-fit: cover;
    margin-top: 30px;
}

.about-info h2{
    font-size: 1.7rem;
    margin-top: 20px;
    color: #145eff;
}

.about-info-content{
    text-align: left;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.about-info-content p{
    font-size: 1.5rem;
    font-style: oblique;
    margin: 10px 0;
}

.info-content{
    margin: 10px 0;
}
.info-content span, .info-content b{
    font-size: 1.1rem;
}

.about-container{
    margin: 70px 40px;   
    padding: 10px;
    display: block;
    font-size: 1.3rem;

}

.about-container h1{
    text-align: center;
}

.about-container span{
    display: inline-block;
    margin: 10px 0;
}
.card-container{
    display: flex;
    margin: 20px 0;
}
.card-skill{
    background: rgba(255,255,255,0.1);
    width: 120px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}

.card-skill i{
    font-size: 60px; 
    margin-top: 15px;
}

.html{
    color: rgb(231, 137, 28);
}

.css{
    color: blue;
}

.reactjs{
    color: aqua;
}

.btndownload{
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 1.3rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    margin-top: 20px;
    cursor: pointer;
}
/* hover-aboutpage */
.card-skill:hover{
    background: #ffd43b;
    color: white;
    
}

.btndownload:hover{
    background: black;
    color: white;
}
/*---contactpage---- */
.contact{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg,#53f 5%,#05d5ff 70%,#a6ffcb 94%);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 60px;
    flex-wrap: wrap;
}

.contact h1{
    text-align: center;
}

.contact-container{
}