:root{
    --primary--color: #84A76E;
    --color-black01: rgba(0,0,0,0.1);
    --color-black02: rgba(0,0,0,0.2);
    --color-black03: rgba(0,0,0,0.3);
    --color-black04: rgba(0,0,0,0.4);
    --color-black05: rgba(0,0,0,0.5);
    --color-black06: rgba(0,0,0,0.6);
    --color-black07: rgba(0,0,0,0.7);
    --color-white05: rgba(255,255,255,0.5);
    --color-blue: #145eff;
    --color-border-img: linear-gradient(to right, #84A76E, #DDF1CC);
    --color-title: linear-gradient( 90deg, rgba(94, 114, 235, 1) 0%, rgba(255, 145, 144, 1) 56%, rgba(254, 193, 149, 1) 100% );
    --color-bg: #DDF1CC;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,400&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* border: 0.5px solid red; */
}


button{
    border: none;
    outline: none;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 1.2rem;
    box-shadow: 1px 1px 5px var(--color-black05);
    cursor: pointer;
}


/*=====HEADER===== */
.header{
    display: flex;
    flex-direction: column;
    width: 120px;
    padding: 20px 10px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    height: 100vh;
    background: var(--primary--color);
    border-radius: 0 8px 8px 0;
    box-shadow: 0px 0px 7px var(--color-black04);
}

.header-title{
    text-align: center;
    margin: 15px 0;
    font-size: 1.3rem;
    cursor: pointer;
}

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    height: 70%;
    width: 100%;
}

.header-container a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    /* color: var(--color-black05); */
    color: white;
    font-size: 1.3rem;
}
.header-container a i{
    margin-bottom: 5px;
}
/* .header-contain a:hover{
    border-bottom: 2px solid var(--color-blue);
} */
/*  ---header image--- */
.imageAnimation{
    width: 250px;
    height: 250px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.imageAnimation::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-border-img);
    animation: animationBorder 2s infinite linear;
}
.imageAnimation::after{
    content: "";
    position: absolute;
    inset: 5px;
    background-image: url(./image/thu3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
@keyframes animationBorder{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

/* ===!CONTAINER!=== */
.main-container{
    margin-left: 120px;
    width: 92%;
}
    /* ---homepage---- */

.home{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.home-bg{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}



.home-info{
    position: absolute;
    z-index: 2;
}

.title-content{
    width: fit-content;
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 10s steps(50) infinite, blink 1s infinite;
}
@keyframes typing{
    0%,
    100%{
        width: 0%;
    }
    70%,
    90%{
        width: 100%;
    }
}
@keyframes blink{
    0%,
    90%,
    100%{
        border-right: 3px solid transparent;
    }
    50%{
        border-right: 3px solid var(--primary--color);
    }
}

.info-link{
    display: flex;
}

.icon{
    position: relative;
    margin: 0 15px;
    cursor: pointer;
}

.icon i{
    height: 45px;
    width: 45px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 0px 5px var(--color-black02);
}

.icon .tooltip{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(20px);
    padding: 15px 10px;
    border-radius: 20px;
    opacity: 0;
    pointer-events: none;
    font-size: 1.1rem;
    font-weight: 500;
}



.icon:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    top: 55px;
}
.icon:hover i{
    color: white;
}

.icon .tooltip:after{
    position: absolute;
    content: "";
    top: -8px;
    left: 45%;
    /* border-bottom: 10px solid #3b5999; */
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.facebook .tooltip:after{
    border-bottom: 10px solid #3b5999;
}
.github .tooltip:after{
    border-bottom: 10px solid #333;
}
.linkedln .tooltip:after{
    border-bottom: 10px solid #0A66C2;
}

.facebook:hover i,
.facebook .tooltip{
    background: #3b5999;
    color: white;
}

.github:hover i,
.github .tooltip{
    background: #333;
    color: white;

}



.linkedln:hover i,
.linkedln .tooltip{
    background: #0A66C2;
    color: white;

}
/*----aboutpage---- */
.about{
    padding: 20px;
    height: 100vh;
    width: 100%;
}

.about-container-title{
    width: 100%;
    height: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container-title img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.home_overlay{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: var(--color-black01);
}
.about-title{
    position: absolute;
    z-index: 2;
}
.title{
    font-size: 4rem;
    font-weight: bold;
    transition: color 0.2s;
    color: #222;
}
.animation-title{
    color: #fff;
    text-shadow: 0px 0px 2px white,0px 0px 3px white,0px 0px 5px white;
}

.about-info{
    display: flex;
    margin-top: 20px;
    /* padding: 20px; */
}

.info-sumary{
    display: flex;
    flex-direction: column;
}

h2{
    color: black;
    font-weight: bold;
}
.info-sumary span{
    font-size: 1.2rem;
    margin-top: 5px;
}
.downcvbtn{
    margin: 10px 0;
}
.downcvbtn:hover{
    background: black;
    color: white;
}

.infome{
    display: flex;
    flex-direction: column;
}
.infome p{
    font-size: 2rem;
}
.info-content{
    margin-top: 15px;
    font-size: 1.1rem;
}

/* --resume--- */
.resume{
    width: 100%;
    height: 100vh;
    grid-gap: 5px;
    background: var(--color-bg);
    /* display: flex;
    flex-direction: column; */
}

.resume-title{
    width: 100%;
    margin: 10px 0;
    padding-top: 20px;
    text-align: center;
    left: 50%;
}

/* .resume-title h1{
    font-size: 4rem;
    text-transform:uppercase;
    background: url(./image/2172732.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-position: 10px;
    animation: aniTitle 5s infinite linear;
} */

/* @keyframes aniTitle{
    0%{
        background-position: left 0px top 0px;
    }
    100%{
        background-position: left 60px top 60px;

    }
} */


.edu,
.acti{
    border-radius: 15px;
    padding: 10px 15px;
    box-shadow: 1px 1px 3px var(--color-black04)
}
.edu-content,
.acti-content{
    border-left: 3px solid var(--primary--color);
    padding-left: 10px;
    position: relative;
}

.edu-content::before,
.acti-content::before{
    content: "";
    position: absolute;
    left: -10px;
    top: 33px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--primary--color);
}

.time{
    width: fit-content;
    padding: 5px 10px;
    border-radius: 15px;
    background: var(--primary--color);
    box-shadow: 0px 0px 3px var(--color-black04);
    color: white;
}

.edu-content b:last-child{
    color: var(--primary--color);
}

.content-skill{
    margin-top: 10px;
}
.card-container{
    display: flex;
    margin: 5px 0;
}

.card-skill{
    /* background: rgba(255,255,255,0.1); */
    width: 90px;
    height: 90px;
    border-radius: 10px;
    /* margin-top: 5px; */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    cursor: pointer;
}


.card-skill i{
    font-size: 3rem; 
}
.card-skill img{
    height: 40px;
    width: 40px;
    font-size: 3rem; 
}

.card-skill:hover, .card-skill-en:hover{
    /* background: #d3e6ff; */
    background: var(--primary--color);
    color: white;
} 

.card-skill-en{
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 10px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    cursor: pointer;
}

.card-skill-en i{
    font-size: 2.5rem;
    margin-right: 10px;
}

.resume-content-right{
    width: 45%;
    margin-left: 40px;
}

.acti-content{
    font-size: 1.1rem;
    margin: 7px 0;
}
.project-card{
    height: 400px;
    width: 300px;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    overflow: hidden;
    position: relative;
}

.project-card img{
    width: 100%;
    height: 50%;
    object-fit:fill;
}

.projectimg_overlay{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    height: 50%;
    width: 100%;
    background: var(--color-black06);
}

.card-content{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content h2{
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}
.card-content span{
    padding: 0 20px;
    color: var(--color-black07);
}

.card-content a{
    text-align: center;
    margin-top: 10px;
}

.viewcodebtn{
    background: white;
    border: 1px solid var(--color-black03);
    box-shadow: unset;
    color: var(--color-black07);
}

.viewcodebtn:hover{
    background: #222;
    color: white;
}
.project-card:hover{
    background: #d3e6ff;
}



.project-container-img{
    height: 300px;
    width: 300px;
}

.project-container-img img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}





.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 60px;
    margin-top: 30px;
}

.contact h1{
    text-align: center;
    color: var(--color-title);
}

.contact-container{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    padding: 40px;
}

.contactme{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.contactme img{
    height: 35px;
    width: 35px;
    /* margin-right: 20px; */
    cursor: pointer;
}

.contactme span{
    color: rgba(0,0,0,0.7);
    margin-left: 10px;
}

.contact-imgaddress{
    height: 50%;  
    width: 50%; 
    box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.contact-imgaddress img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}

.btnmap{
    position: absolute;
    z-index: 1;
    margin: 15px;
    font-size: 1rem;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    color: #145eff;
    background: white;
}

.contactme i:hover{
    color: #145eff;
}

.btnmap:hover{
    background: black;
    color: white;
}
/*====responsive====== */
/* ----mobile: width < 740px -----*/
/* @media screen and (max-width: 46.1875em){
    .header{
        display: none;
    }
    .home{
        height: 100%;
    }
} */